@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Airstrike Plat";
  font-weight: 400;
  src: url("/fonts/airstrikeplat.ttf");
}

@font-face {
  font-family: "Onramp";
  font-weight: 400;
  src: url("/fonts/onramp.ttf");
}

@font-face {
  font-family: "Dogica Bold";
  font-weight: 400;
  src: url("/fonts/dogicapixelbold.otf");
}

@font-face {
  font-family: "Dogica";
  font-weight: 400;
  src: url("/fonts/dogicapixel.otf");
}

body {
  background: #000;
}
